/*** Fonts ***/
/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/outfit-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/outfit-v11-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/outfit-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: 'Young Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/young-serif-v2-latin-regular.woff2') format('woff2');
}

/*** Variables ***/
:root {
  /*** Colors ***/
  --dark-charcoal: #312e2c;
  --dark-raspberry: #7a284e;
  --brandy-red: #854632;
  --wenge-brown: #5f564d;
  --eggshell: #f3e5d7;
  --white-coffee: #e3ddd7;
  --snow: #fff7fb;
  --white: #fff;
  /*** Fonts ***/
  --font-family: 'Outfit', sans-serif;
  --second-family: 'Young Serif', sans-serif;
}

/*** Reset styles ***/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--second-family);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  /* list-style: none; */
}
ul li,
ol li {
  padding-left: 16px;
}
ul li:not(:last-child),
ol li:not(:last-child) {
  margin-bottom: 8px;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}
input,
textarea {
  outline: none;
}

/*** Base Styles ***/
body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--wenge-brown);
  background-color: var(--eggshell);
}
@media screen and (min-width: 768px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.section-divider {
  display: block;
  height: 1px;
  background-color: var(--white-coffee);
  margin-bottom: 32px;
}

/*** Recipe Page Component Styles ***/
.section {
  margin-bottom: 32px;
}
.section-title {
  font-family: var(--second-family);
  font-size: 28px;
  line-height: 1;
  color: var(--brandy-red);
  margin-bottom: 24px;
}
.recipe-page {
  background-color: var(--white);
}
@media screen and (min-width: 768px) {
  .recipe-page {
    border-radius: 24px;
    max-width: 736px;
    overflow: hidden;
  }
}
.recipe-header-picture {
  display: block;
}
.recipe-header-image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .recipe-header-picture {
    padding: 40px 40px 0 40px;
  }
  .recipe-header-image {
    border-radius: 12px;
  }
}
.recipe-wrap {
  padding: 32px;
}
@media screen and (min-width: 768px) {
  .recipe-wrap {
    padding: 40px;
  }
}
.section-recipe-header {
  margin-bottom: 32px;
}
.recipe-main-heading {
  font-family: var(--second-family);
  font-size: 36px;
  line-height: 1;
  margin-bottom: 24px;
  color: var(--dark-charcoal);
}
@media screen and (min-width: 768px) {
  .recipe-main-heading {
    font-size: 40px;
  }
}
.recipe-summary {
  color: var(--wenge-brown);
}
.section-preparation {
  padding: 24px;
  background-color: var(--snow);
}
.recipe-preparation-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: var(--dark-raspberry);
  margin-bottom: 16px;
}
.recipe-preparation-list-item::marker {
  color: var(--dark-raspberry);
}
.recipe-ingredients-list-item::marker {
  color: var(--brandy-red);
}
.recipe-instructions-list-item::marker {
  font-weight: 700;
  color: var(--brandy-red);
}
.recipe-nutrition-info {
  margin-bottom: 24px;
}
.nutrition-table {
  width: 100%;
}
.nutrition-table tr {
  display: flex;
  padding: 12px 32px;
}
.nutrition-table tr:not(:last-child) {
  border-bottom: 1px solid var(--white-coffee);
}
.nutrition-table th {
  flex: 1 1 50%;
  text-align: left;
  font-weight: 400;
}
.nutrition-table td {
  flex: 1 1 50%;
  font-weight: 700;
  color: var(--brandy-red);
}

/*** Attribution footer ***/
.attribution {
  color: #312e2c;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 16px;
  text-align: center;
  backdrop-filter: blur(4px);
}
.attribution_wrap {
  margin: 0 auto;
  max-width: 24ch;
}
.attribution a {
  text-decoration: underline;
  opacity: 0.7;
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.attribution a:hover,
.attribution a:focus {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .attribution {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .attribution_wrap {
    max-width: 100%;
  }
}
